

#vector {
  Width: 7.87px;
  Height: 7.75px;
}

.mainText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px;
  line-height: 30px;
}

#subText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

#logo {
  width: 132.13px;
  height: 32px;
}



@media only screen and (max-width: 568px) {
  

  
}

@media only screen and (max-width: 380px) {
  
}